<h3>Welcome to PizzaShop</h3>

<div class="row">

	<% @products.each do |p| %>
		<div class="col-md-3">
			<%= p.title %>
			<%= p.description %>
			<%= p.price %>
			<%= p.size%>
			<%= p.is_spicy %>
			<%= p.is_veg %>
			<%= p.is_best_offer %>
			<%= p.path_to_image %>
		</div>
	<% end %>

 </div>




<button class="btn btn-primary" onclick="something()">Click me</button>

